@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  font-weight: 400;
}
h1, p{
  color: #fff;
  mix-blend-mode: difference;
}
section{
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  background-color: white;
}
.header_container{
  display: flex;
  width: 90%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
}
nav ul{
  display: flex;
}
.circle_container{
  position: relative;
  top: 50px;
  height: calc(100vh - 100px);
  width: 100%;
  border-bottom: 1px solid black;
}
.vertical_line{
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background: black;
  opacity: .4;
}
.horizontal_line{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  opacity: .4;
}
.circle_container_inner{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100%;
  max-width: 1200px;
}
.circle{
  position: absolute;
  transform-origin: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 32vh;
  height: 32vh;
  border: 1px dashed black;
  border-radius: 50%;
  will-change: transform;
}
.sticky_section{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.plane{
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  background: white;
}
.plane_one{
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}
.plane_two{
  position: sticky;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100%;
}
.plane_three{
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
  width: 100%;
}
.container{
  width: 90%;
  height: 100vh;
  max-width: 1200px;
  padding-top: .8rem;
}
.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: black;
}
